//Desktop//

.adminDashboard-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;


    &__columnOne{
        width: 50%;
        display: flex;
        justify-content: center;
        border-right: 1px solid #cf3333;

        &__columnTwo{
            width: 50%;
            display: flex;
            justify-content: center
        }
    }
}

.container-adminLink{
    &__title{
        font-size:24px;
        margin-bottom: 20px;
         border-bottom: 1px solid #cf3333;

        &__list{
            list-style: none;

            &__cat{
                text-decoration: none;

                &__prod{
                    text-decoration: none;

                    &__manage{
                        text-decoration: none;   
                    }
                    &__manage:hover{
                        color:#cf3333;
                        font-size: 20px
                    }
                }
                &__prod:hover{
                 color:#cf3333;
                 font-size: 20px
                }
            }
            &__cat:hover{
                color:#cf3333;
                font-size: 20px
            }
        }
    }
}

.container-adminInfos{

    &__title{
        font-size:24px;
        margin-bottom: 20px;
        border-bottom: 1px solid #cf3333;

        &__list{
            list-style: none;

            &__name{
                margin-bottom: 10px;

                &__email{
                    margin-bottom: 10px;
                }
            }
        }

    }
}

.space{
    margin-bottom: 10px;
}