//Desktop//

.adminDashboard-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;


    &__columnOne{
        width: 20%;

        &__columnTwo{
            width: 80%;
        }
    }
}