.Navbar-container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-logo {
  margin-left: 24px;
}

.container-logo__cat {
  height: 70px;
}

.container-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.container-link__list__home {
  text-decoration: none;
  margin-right: 30px;
}

.container-link__list__home__signin {
  text-decoration: none;
  margin-right: 30px;
}

.container-link__list__home__signin__signup {
  text-decoration: none;
}

.userDashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.userDashboard-container__columnOne {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #cf3333;
}

.userDashboard-container__columnOne__columnTwo {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #cf3333;
}

.userDashboard-container__columnOne__columnTwo__columnThree {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-userLink__title {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cf3333;
}

.container-userLink__title__list {
  list-style: none;
}

.container-userLink__title__list__cart {
  text-decoration: none;
}

.container-userLink__title__list__cart__update {
  text-decoration: none;
}

.container-userLink__title__list__cart__update:hover {
  color: #cf3333;
  font-size: 20px;
}

.container-userLink__title__list__cart:hover {
  color: #cf3333;
  font-size: 20px;
}

.container-userInfo__title {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cf3333;
}

.container-userInfo__title__list {
  list-style: none;
}

.container-userInfo__title__list__name {
  margin-bottom: 10px;
}

.container-userInfo__title__list__name__email {
  margin-bottom: 10px;
}

.container-userHistory__title {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cf3333;
}

.container-userHistory__title__list {
  list-style: none;
}

#cart {
  margin-bottom: 10px;
}

.adminDashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.adminDashboard-container__columnOne {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #cf3333;
}

.adminDashboard-container__columnOne__columnTwo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-adminLink__title {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cf3333;
}

.container-adminLink__title__list {
  list-style: none;
}

.container-adminLink__title__list__cat {
  text-decoration: none;
}

.container-adminLink__title__list__cat__prod {
  text-decoration: none;
}

.container-adminLink__title__list__cat__prod__manage {
  text-decoration: none;
}

.container-adminLink__title__list__cat__prod__manage:hover {
  color: #cf3333;
  font-size: 20px;
}

.container-adminLink__title__list__cat__prod:hover {
  color: #cf3333;
  font-size: 20px;
}

.container-adminLink__title__list__cat:hover {
  color: #cf3333;
  font-size: 20px;
}

.container-adminInfos__title {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cf3333;
}

.container-adminInfos__title__list {
  list-style: none;
}

.container-adminInfos__title__list__name {
  margin-bottom: 10px;
}

.container-adminInfos__title__list__name__email {
  margin-bottom: 10px;
}

.space {
  margin-bottom: 10px;
}

.container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.container-productByArrival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-productBySell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-title__arrival {
  font-size: 24px;
}

.container-title__arrival__best {
  font-size: 24px;
}

.container-card {
  width: 25%;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-transition: -webkit-transform 300 ms, -webkit-box-shadow 300ms;
  transition: -webkit-transform 300 ms, -webkit-box-shadow 300ms;
  transition: transform 300 ms, box-shadow 300ms;
  transition: transform 300 ms, box-shadow 300ms, -webkit-transform 300 ms, -webkit-box-shadow 300ms;
}

.container-card__card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 1px solid #cf3333;
}

.container-card__card__header__title {
  color: #cf3333;
  font-size: 24px;
  font-family: 'Lemonada', cursive;
}

.container-card__card__header__title__body {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
}

.container-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.container-btn-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-btn-card__viewProduct {
  height: 40px;
  border-radius: 6px;
  background-color: #cf3333;
  outline: none;
  color: white;
  font-size: 16px;
  width: 100%;
}

.container-btn-card__viewProduct__cart {
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
  border-radius: 6px;
  outline: none;
  width: 150px;
  font-size: 16px;
}

.container-btn-card__viewProduct__cart:hover {
  height: 40px;
  border-radius: 6px;
  background-color: #cf3333;
  color: white;
}

.container-btn-card__viewProduct:hover {
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
  border-radius: 6px;
}

#btn {
  width: 150px;
}

.ShowImage-container__photo {
  width: 100%;
}

.AddProduct-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: 180px;
  margin-right: 180px;
}

.AddProduct-container__title {
  margin-bottom: 20px;
  color: #323232;
  font-size: 24px;
}

.container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.container-input__name {
  color: #323232;
}

.container-input__name__type {
  height: 40px;
  outline: none;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
}

.container-input__name__type:hover {
  border: solid 1px #cf3333;
}

.container-btn-AddProduct {
  margin-bottom: 24px;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  background-color: #cf3333;
  outline: none;
  color: white;
  font-size: 16px;
}

.container-btn-AddProduct:hover {
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
}

.container-showError {
  height: 40px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.container-showSucess {
  height: 40px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #4F8A10;
  background-color: #DFF2BF;
}

.container-backDash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-backDash__dashboard {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 20px;
}

.container-backDash__dashboard:hover {
  color: #cf3333;
  font-size: 20px;
}

.Layout-container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.Layout-container__header__title {
  font-size: 36px;
}

.container-signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-right: 180px;
  margin-left: 180px;
}

.container-signIn__form {
  width: 100%;
}

.container-formSignIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-formSignIn__email__inputEmail {
  height: 40px;
  outline: none;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  text-indent: 20px;
  margin-bottom: 10px;
}

.container-formSignIn__email__inputEmail__password__inputPassword {
  height: 40px;
  outline: none;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  text-indent: 20px;
}

.container-formSignIn__email__inputEmail__password__inputPassword:hover {
  border: solid 1px #cf3333;
}

.container-formSignIn__email__inputEmail:hover {
  border: solid 1px #cf3333;
}

.btn-signIn {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  background-color: #cf3333;
  outline: none;
  color: white;
  font-size: 16px;
}

.btn-signIn:hover {
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
}

.alert-SignIn {
  height: 40px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.container-signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-right: 180px;
  margin-left: 180px;
}

.container-signUp__form {
  width: 100%;
}

.container-formSignUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-formSignUp__name {
  font-size: 16px;
}

.container-formSignUp__name__nameInput {
  height: 40px;
  outline: none;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  text-indent: 20px;
  margin-bottom: 10px;
}

.container-formSignUp__name__nameInput__email {
  font-size: 16px;
}

.container-formSignUp__name__nameInput__email__emailInput {
  height: 40px;
  outline: none;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  text-indent: 20px;
  margin-bottom: 10px;
}

.container-formSignUp__name__nameInput__email__emailInput__password {
  font-size: 16px;
}

.container-formSignUp__name__nameInput__email__emailInput__password__passwordInput {
  height: 40px;
  outline: none;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  text-indent: 20px;
}

.container-formSignUp__name__nameInput__email__emailInput__password__passwordInput:hover {
  border: solid 1px #cf3333;
}

.container-formSignUp__name__nameInput__email__emailInput:hover {
  border: solid 1px #cf3333;
}

.container-formSignUp__name__nameInput:hover {
  border: solid 1px #cf3333;
}

.btn-signUp {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  background-color: #cf3333;
  outline: none;
  color: white;
  font-size: 16px;
}

.btn-signUp:hover {
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
}

.alert-SignUp {
  height: 40px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.sucess-SignUp {
  height: 40px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #4F8A10;
  background-color: #DFF2BF;
}

.container-newCategory {
  margin-right: 180px;
  margin-left: 180px;
}

.container-newCategory__form__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-newCategory__form__category__name {
  font-size: 16px;
}

.container-newCategory__form__category__name__nameInput {
  height: 40px;
  outline: none;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  text-indent: 20px;
  margin-bottom: 10px;
}

.container-newCategory__form__category__name__nameInput:hover {
  border: solid 1px #cf3333;
}

.container-back {
  margin-left: 180px;
  margin-right: 180px;
}

.container-back__dashboard {
  text-decoration: none;
}

.btn-CreateCategory {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  background-color: #cf3333;
  outline: none;
  color: white;
  font-size: 16px;
}

.btn-CreateCategory:hover {
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
}

.container-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-back__dashboard {
  margin-top: 15px;
  font-size: 16px;
}

.container-back__dashboard:hover {
  color: #cf3333;
  font-size: 20px;
}

.created {
  height: 40px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #4F8A10;
  background-color: #DFF2BF;
}

.err {
  height: 40px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.container-btn-Manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

.container-btn-Manage__LinkUpdate {
  width: 70px;
  height: 30px;
}

.container-btn-Manage__LinkUpdate__btnOne {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
  outline: none;
  font-size: 16px;
  border-radius: 6px;
}

.container-btn-Manage__LinkUpdate__btnOne__LinkDelete {
  width: 70px;
  height: 30px;
  color: white;
  background-color: #cf3333;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
}

.container-btn-Manage__LinkUpdate__btnOne__LinkDelete:hover {
  background-color: white;
  color: #cf3333;
  border: 1px solid #cf3333;
}

.container-btn-Manage__LinkUpdate__btnOne:hover {
  color: white;
  background-color: #cf3333;
}

.container-ManageProduct {
  margin-right: 50px;
  margin-left: 50px;
}

.container-ManageProduct__title {
  margin-bottom: 20px;
  font-size: 24px;
}

.container-ManageProduct__title__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 15px;
  border-bottom: 1px solid #cf3333;
  padding-bottom: 10px;
}

.container-ManageProduct__title__list__name {
  width: 20%;
  font-size: 16px;
}

.container-ManageProduct__title__list__name__quantity {
  width: 20%;
  font-size: 16px;
}

.container-ManageProduct__title__list__name__quantity__price {
  width: 20%;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Allerta Stencil', sans-serif;
  color: #323232;
}
/*# sourceMappingURL=routes.css.map */